@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}
body{
    background-color: black;
    color: aliceblue;
}
p::selection{
    background-color: rgb(43, 25, 34);
    color: rgba(255, 255, 7, 0.726);;
}
/* Navegador de links */

nav{
    position: fixed;
    top: 0%;
    left: 95%;
    width: 5%;
}
nav li{
    list-style-type: none;
    margin: 10px;
}
nav a img{
    width: 100%;
    border-radius: 50%;
}
nav ul{
    float: right;
}

/*Apresentação */
header{
    width: 95%;
    margin: auto;
}

header > #eu {
    border-radius: 5%;
    margin: 2%;
    margin-right: 5%;
    float: left;
}

header > h1 {
    text-align: justify;
    font-size: 300%;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgba(255, 255, 7, 0.726);
}
header > p {
    font-size: 150%;
    width: 50%;
    margin: auto;
}
header > button {
    font-size: 150%;
    border-radius: 5%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    color: rgb(255, 255, 255);
    background-color: black;
    display: block;
}
header > #seta{
    border-radius: 50%;
    color: rgb(255, 251, 0);
}
/* Configuração do Article */

article#basico{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
}
article#basico div h2{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: aliceblue;
    text-align: justify;
}
article#basico div{
    max-width: 40%;
    margin: 2% auto;
    padding: 25px 10px;
    border-radius: 5%;
    border: 1px solid white;
    box-shadow: 0px 0px 7px rgba(145, 145, 214, 0.658);
}
article#basico div iframe{
    width: 80%;
    height: 650px;
    margin: auto;
    display: block;
    background-color: rgba(240, 255, 255, 0.562);
    border-radius: 2%;
}
div.order-1{
    order: 1;
}
div.order-2{
    order: 3;
}
div.order-3{
    order: 2;
}
div.order-4{
    order: 4;
}