@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}
body{
    background-color: black;
    color: aliceblue;
}
p::selection{
    background-color: rgb(43, 25, 34);
    color: rgba(255, 255, 7, 0.726);;
}


/* Navegador de links */
nav{
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.938);
    width: 100%;
}
nav li{
    list-style-type: none;
    display: inline-table;
    margin: 5px;
}
nav a img{
    width: 50px;
    height: 98%;
    border-radius: 50%;
}
nav ul{
    float: none;
    margin: auto;
    width: max-content;
}

/*Apresentação */
header{
    width: 95%;
    min-width: 350px;
    margin: auto;
    margin-bottom: 10%;
    cursor: url('../imagens/cursor.png');
}
header > #eu {
    border-radius: 50%;
    margin: 2%;
    margin-right: 5%;
    float: left;
    width: 100px;
}
header > h1 {
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgba(255, 255, 7, 0.726);
    font-size: 150%;
}
header > p {
    font-size: 120%;
    width: 90%;
    margin: auto;
}
header > button {
    margin: auto;
    margin-top: 15%;
    background-color: black;
    display: block;
    cursor: pointer;
    border: none;
    display: none;

}
header > button > img{
    border-radius: 50%;
    color: black;
    width: 200%;
    height: 50%;
    position: relative;
    left: 0%;
    display: none;
}

/* Configuração do Article Básico */
article#tecnologia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
}
article aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
    border-radius: 10%;
    width: auto;
}
article aside div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
    margin: 2%;
    width: auto;
}
article aside div img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20%;
    width: 20%;
}

div.infor{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
    border-radius: 10%;
}
aside div h2, .infor > h2 {
    font-size: 150%;
}
.fulline {
    flex-basis: 100%;
    margin-left: 25%;
}
.grade{
    flex: 0 0 20%;
}
.grade li {
    list-style-type: none;
    margin: 8%;
    font-size: 120%;
}
.infor button{
    margin-top: 5%;
    width: 20%;
    padding: 3%;
    background-color: darkcyan;
    font-size: 75%;
    color: white;
}
/* Configuração do Article Básico */

article#basico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
}
article#basico div h2{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: aliceblue;
    text-align: justify;
}
article#basico div{
    margin: 2% auto;
    padding: 25px 0px;
    border-radius: 5%;
    border: 1px solid white;
    box-shadow: 0px 0px 7px rgba(145, 145, 214, 0.658);
}
article#basico div iframe{
    width: 100%;
    height: 650px;
    margin: auto;
    display: block;
    background-color: rgba(240, 255, 255, 0.562);
    border-radius: 2%;
}
div.order-1{ /* Android */
    order: 1;
}
div.order-2{ /* Iphone */
    order: 2;
}
div.order-3{ /* Cordel */
    order: 3;
}
div.order-4{ /* Finans */
    order: 4;
}
div.order-5{ /* Mosquito */
    order: 5;
}
div.order-6{ /* Mosquito */
    order: 6;
}
div.order-7{ /* Mosquito */
    order: 7;
}
div.order-8{ /* Mosquito */
    order: 8;
}
div.order-9{ /* Mosquito */
    order: 9;
}
div.order-10{ /* Mosquito */
    order: 10;
}