@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}
body{
    background-color: rgb(0, 6, 24);
}
header{
    background-image: url('../imagens/fundo_header.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    text-align: justify;
}
nav{
    position: fixed;
    top: 0%;
    left: 95%;
    width: 5%;
}
nav li{
    list-style-type: none;
    margin: 10px;
}
nav a img{
    width: 100%;
    border-radius: 50%;

}
nav ul{
    float: right;
}
div#foto{
    margin: auto;
    width: 80%;
}
div#foto h1{
    width:78%;
    margin: auto;
    font-size: 65px;
    font-family: "Acme", sans-serif;
    color: aliceblue;
    display: inline-block;
}
div#foto #avatar{
    width: 20%;
}
div#foto hr{
    clear: both;
}
div#foto p {
    width: 500px;
    float: left;
    margin: 34px;
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    color: azure;
}
div#foto #seta{
    position: relative;
    left: 50%;
    width: 170px;
}

/* Configuração do Article */

article#basico{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
article#basico div h2{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: aliceblue;
    text-align: justify;
}
article#basico div{
    max-width: 40%;
    margin: 2% auto;
    padding: 25px 10px;
    border-radius: 5%;
    border: 1px solid white;
    box-shadow: 0px 0px 7px rgba(145, 145, 214, 0.658);
}
article#basico div iframe{
    width: 80%;
    height: 650px;
    margin: auto;
    display: block;
    background-color: rgba(240, 255, 255, 0.562);
    border-radius: 2%;
}
div.order-1{
    order: 1;
}
div.order-2{
    order: 3;
}
div.order-3{
    order: 2;
}
div.order-4{
    order: 4;
}